/* GLOBAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body{
    background-image: linear-gradient(to bottom right, #b1cff2, #11cad4);
    font-family: 'Roboto', sans-serif, ;
    height: 100vh;
    overflow: hidden;
}

ul{
    list-style: none;
}

/* FONTES */

h1, h2, h3, .price{
    font-family: 'Roboto Serif', serif;
    text-transform: capitalize;
    color: white;
}

h3{
    display: inline;
}

/* CABEÇALHO */

header{
    padding: 32px 0;
    text-align: center;
}

header, section{
    max-width: 300px;
    margin: 0 auto;
}

header h1{
    margin-bottom: 4px;
    font-size: 28px;
    line-height: 33px;
    color: white;
}

header h1 span{
    color: #007aff;
}

header p{
    font-size: 14px;
    line-height: 16px;
    color:rgba(0, 0, 0, 0.5)
}

/* SECTION */

section{
    margin-bottom: 24px;
}

section h2{
    background-color: #007aff;
    padding: 8px 16px;
    text-align: center;
    margin-bottom: 24px;
    font-size: 18px;
    border-radius: 5px;
}

/* LISTA */

ul li {
    margin-bottom: 16px;
    display: flex;
    background-image: linear-gradient(to bottom right, rgb(44, 149, 224), #11cad4);
    border-radius: 15px;
    padding: 3px;
    justify-content: space-between;
}

section ul li:hover{
    animation: move 1s ease;
    animation-fill-mode: forwards;
}

li .detail{
    max-width: 240px;
}

.detail p{
    padding-right: 20px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 21px;
}

.detail h3{
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 19px;
}

/* ANIMATION */

@keyframes move{
    froom{
        transform: translate(0);
    }

    to{
        transform: translate(15px);
    }
}

/*  circles */

ul.circle li{
    width: 40px;
    height: 40px;
    /* background-image: linear-gradient(to bottom right, #b20505, #efc1c4);
     */display: block;
    position: absolute;
    bottom: -120px;
    animation: up 2s infinite alternate;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik Dirt', sans-serif;
   
}

@keyframes up{
    from{
       /*  opacity: 0; */
        transform: translateY(0);
    }
    50%{
       /*  opacity: 1; */
    }

    to{
       /*  opacity: 0; */
        transform: translateY(-800px) rotate(960deg);
    }
}





